<div class="container">

  <mat-spinner *ngIf="isLoading" style="margin: 0 auto;"></mat-spinner>

  <button [disabled]="usuarioLogado?.role !== 'admin'" class="fullWidth mat-elevation-z8" style="margin-bottom: 10px;"
    mat-raised-button color="primary" (click)="openCreateDialog()">Adicionar Novo Produto</button>


  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Baton" #input>
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td mat-cell *matCellDef="let row" [matTooltip]="row.nome.length > 30 ? row.nome : ''">
          {{ row.nome | slice:0:30 }}{{ row.nome.length > 30 ? '...' : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descricao </th>
        <td mat-cell *matCellDef="let row" [matTooltip]="row.descricao.length > 30 ? row.descricao : ''">
          {{ row.descricao | slice:0:30 }}{{ row.descricao.length > 30 ? '...' : '' }}
        </td>
      </ng-container>

      <ng-container matColumnDef="preco">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Preço </th>
        <td mat-cell *matCellDef="let row"> {{row.preco | currency:'BRL'}} </td>
      </ng-container>

      <ng-container matColumnDef="nomeCategoria">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Categoria </th>
        <td mat-cell *matCellDef="let row"> {{row.nomeCategoria}} </td>
      </ng-container>

      <ng-container matColumnDef="acoes">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let row">

          <button [disabled]="usuarioLogado?.role !== 'admin'" matTooltip="Editar Produto" mat-icon-button
            (click)="openEditDialog(row)">
            <mat-icon>edit</mat-icon>
          </button>

          <button [disabled]="usuarioLogado?.role !== 'admin'" matTooltip="Deletar Produto" mat-icon-button color="warn"
            (click)="openDeleteDialog(row)">
            <mat-icon>delete</mat-icon>
          </button>

          <mat-slide-toggle [disabled]="usuarioLogado?.role !== 'admin'"
            (change)="onAtivaDesativa($event.checked, row.id)" matTooltip="Ativar/Desativar Produto"
            [checked]="row.status" color="primary">
          </mat-slide-toggle>

        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="2">Nenhum produto "{{input.value}}" foi encontrado</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of categories"></mat-paginator>
  </div>
</div>
