<h2 mat-dialog-title>Editar Produto</h2>
<mat-dialog-content>

  <mat-form-field class="fullWidth">
    <mat-label>Nome</mat-label>
    <input matInput [(ngModel)]="data.nome" required>
  </mat-form-field>

  <!-- Descrição -->
  <mat-form-field class="fullWidth">
    <mat-label>Descrição</mat-label>
    <input matInput [(ngModel)]="data.descricao" required>
  </mat-form-field>

  <!-- Categoria -->
  <mat-form-field class="fullWidth">
    <mat-label>Categoria</mat-label>
    <mat-select [(ngModel)]="data.categoriaId">
      <mat-option *ngFor="let categoria of categorias" [value]="categoria.id">
        {{ categoria.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Preço -->
  <mat-form-field class="fullWidth">
    <mat-label>Preço</mat-label>
    <input matInput [(ngModel)]="data.preco" required type="text">
  </mat-form-field>

</mat-dialog-content>
<mat-dialog-actions>
  <button class="fullWidth" mat-raised-button color="warn" (click)="onNoClick()">Cancelar</button>
  <button class="fullWidth" style="margin-top: .5rem;" mat-raised-button color="primary" mat-button [mat-dialog-close]="data">Salvar</button>
</mat-dialog-actions>
