.custom-dialog {
  min-width: 400px;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.custom-dialog .mat-dialog-content {
  overflow: hidden;
}


