.container {
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

/* .sidenav-content {

} */

.sidenav {
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(216,0,99,1) 76%, rgba(255,255,255,1) 100%);
  width: 17rem;
  color: white;
}

.custom-pink-text a, .custom-pink-text i {
  color: #D80063;
}

.sidenav-footer {
  position: absolute;
  bottom: 0;
  width: 90%;
  padding: 16px;
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.2);
  font-size: 12px;
}

img{
  width: 100%;
  height: 7rem;
  margin: .8rem auto 1rem auto;
}

.sidenav a{
  color: white;
}

.sidenav i{
  margin-right: .3rem;
}

.menu {
  margin: 1rem 0 0 1rem;
  color: white;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(216,0,99,1) 76%, rgba(255,255,255,1) 100%);
}

