<mat-drawer-container class="container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">
    <mat-nav-list class="nav-list custom-pink-text">
      <img src="../../../assets/img/side-image.svg" alt="Imagem de navegação">

      <a mat-list-item routerLink="/dashboard">
        <i class="material-icons">dashboard</i>
        Dashboard
      </a>

      <a mat-list-item routerLink="/categoria/listagem">
        <i class="material-icons">category</i>
        Gerenciar Categorias
      </a>

      <a mat-list-item routerLink="/produto/listagem">
        <i class="material-icons">inventory_2</i>
        Gerenciar Produtos
      </a>

      <a mat-list-item routerLink="/venda/ordens">
        <i class="material-icons">shopping_cart</i>
        Gerar Ordem de Vendas
      </a>

      <a mat-list-item routerLink="/venda/listagem">
        <i class="material-icons">backup_table</i>
        Historico de Vendas
      </a>

      <a mat-list-item routerLink="/usuarios" *ngIf="usuarioLogado.role === 'admin'">
        <i class="material-icons">people</i>
        Usuários
      </a>

      <a mat-list-item routerLink="/alterarSenha">
        <i class="material-icons">password</i>
        Alterar Senha
      </a>

      <a mat-list-item (click)="logout()">
        <i class="material-icons">logout</i>
        Logout
      </a>


      <div class="sidenav-footer">
        <p style="display: flex;"><span><i class="material-icons">account_circle</i></span> {{ usuarioLogado.nome }}</p>
        <p style="display: flex;"><span><i class="material-icons">email</i></span> {{ usuarioLogado.email }}</p>
        <p style="display: flex;"><span><i class="material-icons">manage_accounts</i></span> {{ usuarioLogado.role }}
        </p>
      </div>

    </mat-nav-list>
  </mat-drawer>

  <div class="sidenav-content">
    <button class="menu mat-elevation-z8" (click)="drawer.toggle()" mat-icon-button>
      <mat-icon>menu_open</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
