.container {
  width: 98%;
  margin: auto;
}


table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.action-button {
  margin: 0 2px;
  padding: 0;
}

table mat-header-row th.acoes-header {
  text-align: center;
}
